<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginHandler</servlet-name>
        <servlet-class>uec.LoginHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertHandler</servlet-name>
        <servlet-class>uec.InsertHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailedInsert</servlet-name>
        <servlet-class>uec.DetailedInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CollData</servlet-name>
        <servlet-class>uec.CollData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseData</servlet-name>
        <servlet-class>uec.CourseData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemesterData</servlet-name>
        <servlet-class>uec.SemesterData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSubHandler</servlet-name>
        <servlet-class>uec.ViewSubHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHandler</servlet-name>
        <servlet-class>uec.UpdateHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeCollegList</servlet-name>
        <servlet-class>uec.ServeCollegList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmissionHandler</servlet-name>
        <servlet-class>uec.AdmissionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadApplication</servlet-name>
        <servlet-class>uec.LoadApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessApplication</servlet-name>
        <servlet-class>uec.ProcessApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStatus</servlet-name>
        <servlet-class>uec.GetStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>uec.AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCourseList</servlet-name>
        <servlet-class>uec.GetCourseList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSemList</servlet-name>
        <servlet-class>uec.GetSemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubList</servlet-name>
        <servlet-class>uec.GetSubList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetQuestions</servlet-name>
        <servlet-class>uec.GetQuestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMarks</servlet-name>
        <servlet-class>uec.UpdateMarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentData</servlet-name>
        <servlet-class>uec.StudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindHome</servlet-name>
        <servlet-class>uec.FindHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>uec.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginHandler</servlet-name>
        <url-pattern>/LoginHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertHandler</servlet-name>
        <url-pattern>/InsertHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailedInsert</servlet-name>
        <url-pattern>/DetailedInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollData</servlet-name>
        <url-pattern>/CollData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseData</servlet-name>
        <url-pattern>/CourseData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterData</servlet-name>
        <url-pattern>/SemesterData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSubHandler</servlet-name>
        <url-pattern>/ViewSubHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHandler</servlet-name>
        <url-pattern>/UpdateHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeCollegList</servlet-name>
        <url-pattern>/ServeCollegList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmissionHandler</servlet-name>
        <url-pattern>/AdmissionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadApplication</servlet-name>
        <url-pattern>/LoadApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessApplication</servlet-name>
        <url-pattern>/ProcessApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStatus</servlet-name>
        <url-pattern>/GetStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCourseList</servlet-name>
        <url-pattern>/GetCourseList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSemList</servlet-name>
        <url-pattern>/GetSemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubList</servlet-name>
        <url-pattern>/GetSubList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetQuestions</servlet-name>
        <url-pattern>/GetQuestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMarks</servlet-name>
        <url-pattern>/UpdateMarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentData</servlet-name>
        <url-pattern>/StudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindHome</servlet-name>
        <url-pattern>/FindHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
